<footer class="footer">
  <div class="wrap">
    <div class="footer-row first">
      <div class="items">
        <a class="item active ga-l-support-landing" href="https://support.roburst.network" target="_blank">
                  Support
              </a>
        <a class="item active ga-l-release-notes-landing" href="https://roburst.co" target="_blank">
                  Roburst Coin
              </a>
        <a class="item active ga-l-blog-landing" href="https://medium.com/@RoburstNetwork" target="_blank">
                  Blog
              </a>
      </div>
      <div class="social-links">
        <a class="social-link ga-l-facebook-landing" target="_blank" rel="nofollow" href="https://www.facebook.com/RoburstNetwork">
                  <svg class="facebook-icon">
                      <use xlink:href="#l-facebook"></use>
                  </svg>
              </a>
        <a class="social-link ga-l-twitter-landing" target="_blank" rel="nofollow" href="https://twitter.com/RoburstNetwork">
                  <svg class="twitter-icon">
                      <use xlink:href="#l-twitter"></use>
                  </svg>
              </a>
        <a class="social-link ga-l-medium-landing" target="_blank" rel="nofollow" href="https://medium.com/@RoburstNetwork">
                  <svg class="medium-icon">
                      <use xlink:href="#l-medium"></use>
                  </svg>
              </a>
      </div>
    </div>
    <div class="footer-row">
      <div class="items">
        <a class="item active ga-l-terms-landing" href="https://roburst.co/terms-of-service">
                          Terms of Service
                      </a>
        <a class="item active ga-l-privacy-landing" href="https://roburst.co/privacy-policy">
                          Privacy Policy
                      </a>
      </div>
      <span class="copyright">
          &copy 2018 Roburst Network team
      </span>
    </div>
  </div>
</footer>
