<header class="header-desktop js-nav-desktop js-nav js-header">
  <div class="nav-wrapper">
    <a href="/" class="logo-wrap js-logo-wrap">
        <img src="{{ site.baseurl }}/images/logo.svg" alt="Roburst network logo">
      </a>
    <div class="badge">
      Presale
    </div>

    <div class="nav-links">
      <ul>
        <li class="nav-link"><a href="https://wallet.roburst.co" style="color: #f34034;">Testnet</a></li>
        <li class="nav-link"><a href="{{ site.baseurl }}/blog">Blog</a></li>
        <li class="nav-link"><a href="{{ site.baseurl }}/download">Download</a></li>
        <li class="nav-link"><a href="https://support.roburst.network">Support</a></li>
      </ul>
      <div class="buttons">
        <a class="button uikit-button-login -desktop ga-l-log-in-landing" href="https://roburst.co/login">Log In</a>
        <a class="button uikit-button-sign-up -desktop ga-l-sign-up-landing" href="https://roburst.co/signup">Sign Up</a>
      </div>
    </div>
  </div>
</header>
<header class="header-mobile js-nav-mobile js-nav js-header js-controller" data-controller="PageHeaderController">
  <div class="nav-wrapper">
    <a href="/" class="logo-wrap js-logo-wrap">
        <img src="{{ site.baseurl }}/images/logo.svg" alt="Roburst network logo">
      </a>
    <div class="badge">
      Presale
    </div>

    <div class="button-menu js-button-menu">
      <div class="line first"></div>
      <div class="line second"></div>
    </div>
  </div>
  <div class="menu js-menu">
    <div class="nav-links">
      <ul>
        <li class="nav-link"><a href="https://wallet.roburst.co" style="color: #f34034;">Testnet</a></li>
        <li class="nav-link"><a href="/blog">Blog</a></li>
        <li class="nav-link"><a href="/download">Download</a></li>
        <li class="nav-link"><a href="https://support.roburst.network">Support</a></li>

      </ul>
      <div class="buttons">
        <a class="button uikit-button-login -mobile ga-l-log-in-landing" href="https://roburst.co/login">Log In</a>
        <a class="button uikit-button-sign-up -mobile ga-l-sign-up-landing" href="https://roburst.co/signup">Sign Up</a>
      </div>
    </div>
  </div>
</header>
